# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Images
*.jpg

# Text File
*.txt

# The executeble
FaceFeatureDetect

# Some Dirs
hog-samples/
test/
